@page "/testdocument"
@using TeDoWeb.Library.Models
@using TeDoWeb.Library.Services
@inject ITestDocumentService testDocumentService
@inject IStorageService storageService

<h1 class="h1 text-center">List of Test Documents</h1>

@if (testDocuments?.Any() ?? false)
{
    <table class="document-list">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Introduction</th>
                <th scope="col">Participant name</th>
                <th scope="col">Participant signature</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in testDocuments)
            {
                <tr>
                    <td class="document-list-name">@item.Name</td>
                    <td class="document-list-introduction">@item.Introduction</td>
                    <td class="document-list-documentsupplied">@item.DocumentSupplied</td>
                    @foreach(var entities in item.Participants)
                    {
                        <td class="document-participant-name">@entities.Name</td>
                        <td class="document-participant-signature">@entities.Signature</td>
                    }
                    @foreach(var entities in item.DefinitionAndAbbreviation)
                    {
                        <td class="document-definitionandabbreviation-definition">@entities.Definition</td>
                        <td class="document-definitionandabbreviation-abbreviation">@entities.Abbreviation</td>
                    }
                    @foreach(var entities in item.Firms)
                    {
                        <td class="document-firm-name">@entities.Name</td>
                        <td class="document-firm-fulladdress">@entities.FullAddress</td>
                        //<td class="document-firm-sat">@entities.SAT</td>
                        //<td class="document-firm-oat">@entities.OAT</td>
                        //<td class="document-firm-fat">@entities.FAT</td>
                        //<td class="document-firm-iat">@entities.IAT</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TestDocument>? testDocuments { get; set; }

    protected override async Task OnInitializedAsync()
    {
        testDocuments = testDocumentService.GetAll();
        if (!testDocuments.Any())
        {
            await storageService.PopulateList();
            testDocuments = testDocumentService.GetAll();
            foreach (TestDocument item in testDocuments)
            {
                Console.WriteLine("---> " + item.Name);
            }
        }
        await base.OnInitializedAsync();
    }
}
